[

 ;; user-counter
 {
  :db/id #db/id[:db.part/db]
  :db/ident :user-counter
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "Count of users"
  :db.install/_attribute :db.part/db
  },

 ;; user
 {
  :db/id #db/id[:db.part/db]
  :db/ident :user/id
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "User ID"
  :db.install/_attribute :db.part/db
  },
 {
  :db/id #db/id[:db.part/db]
  :db/ident :user/nick
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A user's nick"
  :db.install/_attribute :db.part/db
  },

 ;; queued values
 {
  :db/id #db/id[:db.part/db]
  :db/ident :value/content
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db
  },
 {
  :db/id #db/id[:db.part/db]
  :db/ident :value/queuer   ;; link back to the user
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db
  },
 {
  :db/id #db/id[:db.part/db]
  :db/ident :value/popped  ;; time is implicit
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db
  }

]
