[
 ;; user-counter

 {:db/id #db/id[:db.part/db]
  :db/ident :user-counter
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "Count of users"
  :db.install/_attribute :db.part/db}

]
