[

 ;; user
 {
  :db/id #db/id[:db.part/db]
  :db/ident :user/id
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "User ID"
  :db.install/_attribute :db.part/db
  },
 {
  :db/id #db/id[:db.part/db]
  :db/ident :user/nick
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A user's nick"
  :db.install/_attribute :db.part/db
  },
 {
  :db/id #db/id[:db.part/db]
  :db/ident :user/waiting-since
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db
  },

 ;; queued values
 {
  :db/id #db/id[:db.part/db]
  :db/ident :value/content
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db
  },
 {
  :db/id #db/id[:db.part/db]
  :db/ident :value/queuer
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db.install/_attribute :db.part/db
  },
 {
  :db/id #db/id[:db.part/db]
  :db/ident :value/queue-time
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db
  },
 {
  :db/id #db/id[:db.part/db]
  :db/ident :value/pop-time
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/index true
  :db.install/_attribute :db.part/db
  }

 ;; veto values
 {
  :db/id #db/id[:db.part/db]
  :db/ident :veto/content
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db
  },
 {
  :db/id #db/id[:db.part/db]
  :db/ident :veto/user
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db.install/_attribute :db.part/db
  },
 {
  :db/id #db/id[:db.part/db]
  :db/ident :veto/time
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db
  },

;; request
 {
  :db/id #db/id[:db.part/db]
  :db/ident :request/uuid
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db
  },
 {
  :db/id #db/id[:db.part/db]
  :db/ident :request/method
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db
  },
 {
  :db/id #db/id[:db.part/db]
  :db/ident :request/body
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db
  },
 {
  :db/id #db/id[:db.part/db]
  :db/ident :request/scheme
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db
  },
 {
  :db/id #db/id[:db.part/db]
  :db/ident :request/server-name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db
  },
 {
  :db/id #db/id[:db.part/db]
  :db/ident :request/server-port
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db
  },
 {
  :db/id #db/id[:db.part/db]
  :db/ident :request/uri
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db
  },
 {
  :db/id #db/id[:db.part/db]
  :db/ident :request/content-type
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db
  },
 {
  :db/id #db/id[:db.part/db]
  :db/ident :request/time
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db
  },
 {
  :db/id #db/id[:db.part/db]
  :db/ident :request/header
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db.install/_attribute :db.part/db
  },
 {
  :db/id #db/id[:db.part/db]
  :db/ident :request/param
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db.install/_attribute :db.part/db
  },
 {
  :db/id #db/id[:db.part/db]
  :db/ident :request/route-param
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db.install/_attribute :db.part/db
  },
 {
  :db/id #db/id[:db.part/db]
  :db/ident :request/form-param
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db.install/_attribute :db.part/db
  },
 {
  :db/id #db/id[:db.part/db]
  :db/ident :request/query-param
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db.install/_attribute :db.part/db
  },

 {
  :db/id #db/id[:db.part/db]
  :db/ident :param/request
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db
  },
 {
  :db/id #db/id[:db.part/db]
  :db/ident :param/type
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db
  },
 {
  :db/id #db/id[:db.part/db]
  :db/ident :param/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db
  },
 {
  :db/id #db/id[:db.part/db]
  :db/ident :param/value
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db
  }


]
